# S02 T05: Exploració de les dades

#### Descripció
Familiaritza't amb les tècniques d'exploració de les dades mitjantçant la estructura de dades, Dataframe amb la llibreria Pandas.

- Exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [1]:
import pandas as pd
Dataframe = pd.read_csv( "DelayedFlights.csv", nrows=20, index_col=[0])
table = Dataframe[["FlightNum","TailNum", "Year", "Month", "DayofMonth", "DayOfWeek", "AirTime", "Distance"]]
Dataframe

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
10,2008,1,3,4,706.0,700,916.0,915,WN,100,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,2272,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0
17,2008,1,3,4,754.0,745,940.0,955,WN,1144,...,5.0,16.0,0,N,0,NaN,NaN,NaN,NaN,NaN
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,N,0,0.0,0.0,0.0,0.0,16.0
19,2008,1,3,4,1416.0,1325,1512.0,1435,WN,54,...,2.0,5.0,0,N,0,12.0,0.0,0.0,0.0,25.0
21,2008,1,3,4,1657.0,1625,1754.0,1735,WN,623,...,5.0,5.0,0,N,0,7.0,0.0,0.0,0.0,12.0
22,2008,1,3,4,1900.0,1840,1956.0,1950,WN,717,...,2.0,5.0,0,N,0,NaN,NaN,NaN,NaN,NaN
23,2008,1,3,4,1039.0,1030,1133.0,1140,WN,1244,...,2.0,5.0,0,N,0,NaN,NaN,NaN,NaN,NaN
25,2008,1,3,4,1520.0,1455,1619.0,1605,WN,2553,...,2.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
26,2008,1,3,4,1422.0,1255,1657.0,1610,WN,188,...,6.0,6.0,0,N,0,40.0,0.0,0.0,0.0,7.0
27,2008,1,3,4,1954.0,1925,2239.0,2235,WN,1754,...,3.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,N,0,5.0,0.0,0.0,0.0,59.0

- Exercici 2
Fes un informe complet del data set:.

Resumeix estadísticament les columnes d’interès
Troba quantes dades faltants hi ha per columna
Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
Taula de les aerolínies amb més endarreriments acumulats
Quins són els vols més llargs? I els més endarrerits?
Etc.

In [2]:
table.mean()

FlightNum     1092.20
Year          2008.00
Month            1.00
DayofMonth       3.00
DayOfWeek        4.00
AirTime        107.55
Distance       741.05
dtype: float64

In [3]:
table.describe()

,FlightNum,Year,Month,DayofMonth,DayOfWeek,AirTime,Distance
count,20.000000,20.0,20.0,20.0,20.0,20.000000,20.000000
mean,1092.200000,2008.0,1.0,3.0,4.0,107.550000,741.050000
std,1114.244403,0.0,0.0,0.0,0.0,58.380309,457.346635
min,4.000000,2008.0,1.0,3.0,4.0,37.000000,162.000000
25%,355.250000,2008.0,1.0,3.0,4.0,49.750000,220.000000
50%,649.000000,2008.0,1.0,3.0,4.0,106.500000,810.000000
75%,1438.250000,2008.0,1.0,3.0,4.0,136.250000,1002.250000
max,3920.000000,2008.0,1.0,3.0,4.0,230.000000,1591.000000

In [4]:
m = [0.,0.,0.,0.,0.];
n = ["x","x","x","x","x"]
for index, row in Dataframe.iterrows():
    i = 0
    num = m[0]
    for y in m:
        if y <= num: 
            num = y
            it = i            
        i += 1
    if num < row["AirTime"]: 
        m[it] = row["AirTime"]
        n[it] = row["FlightNum"]
        
j = 0  
print("Los cinco vuelos más largos\n")
for x in m:
    print("Vuelo número:",n[j],"->", x, "min")
    j += 1

Los cinco vuelos más largos

Vuelo número: 1144 -> 205.0 min
Vuelo número: 675 -> 213.0 min
Vuelo número: 509 -> 230.0 min
Vuelo número: 188 -> 143.0 min
Vuelo número: 1754 -> 155.0 min

In [5]:
Dataframe["VelMitjana(km/h)"] = (Dataframe["Distance"])/(Dataframe["AirTime"]/60)
Dataframe['ArribadaTard'] = ["NO" if x == 0 else "SI" for x in Dataframe["LateAircraftDelay"]]
Dataframe['ArribadaTard'] = ["SI" if x > 0 else "NO" for x in Dataframe["LateAircraftDelay"]]
table = Dataframe[["FlightNum","TailNum", "Year", "Month", "DayofMonth", "DayOfWeek", "AirTime", "Distance", "VelMitjana(km/h)",'ArribadaTard']]
table

,FlightNum,TailNum,Year,Month,DayofMonth,DayOfWeek,AirTime,Distance,VelMitjana(km/h),ArribadaTard
0,335,N712SW,2008,1,3,4,116.0,810,418.965517,NO
1,3231,N772SW,2008,1,3,4,113.0,810,430.088496,NO
2,448,N428WN,2008,1,3,4,76.0,515,406.578947,NO
4,3920,N464WN,2008,1,3,4,77.0,515,401.298701,SI
5,378,N726SW,2008,1,3,4,87.0,688,474.482759,NO
6,509,N763SW,2008,1,3,4,230.0,1591,415.043478,SI
10,100,N690SW,2008,1,3,4,106.0,828,468.679245,NO
11,1333,N334SW,2008,1,3,4,107.0,828,464.299065,SI
15,2272,N263WN,2008,1,3,4,37.0,162,262.702703,NO
16,675,N286WN,2008,1,3,4,213.0,1489,419.436620,SI
17,1144,N778SW,2008,1,3,4,205.0,1489,435.804878,NO
18,4,N674AA,2008,1,3,4,110.0,838,457.090909,SI
19,54,N643SW,2008,1,3,4,49.0,220,269.387755,SI
21,623,N724SW,2008,1,3,4,47.0,220,280.851064,SI
22,717,N786SW,2008,1,3,4,49.0,220,269.387755,NO
23,1244,N714CB,2008,1,3,4,47.0,220,280.851064,NO
25,2553,N394SW,2008,1,3,4,50.0,220,264.000000,NO
26,188,N215WN,2008,1,3,4,143.0,1093,458.601399,SI
27,1754,N243WN,2008,1,3,4,155.0,1093,423.096774,NO
30,362,N798SW,2008,1,3,4,134.0,972,435.223881,SI

- Exercici 3
Exporta el data set net i amb les noves columnes a Excel.

In [6]:
table.to_excel('myDataFrame.xlsx', sheet_name='Sheet1')